{% extends 'base.html' %}

# push in username
{% block username %}
    {{ session["name"] }}
{% endblock username %}
{% block title %}
    Admin
{% endblock title %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <ul class="nav nav-tabs h-100" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="writeups-tab" data-bs-toggle="tab" data-bs-target="#writeups"
                    type="button" role="tab" aria-controls="writeups" aria-selected="true">Writeups
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="competitions-tab" data-bs-toggle="tab" data-bs-target="#competitions"
                    type="button" role="tab" aria-controls="competitions" aria-selected="false">Competitions
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="roles-tab" data-bs-toggle="tab" data-bs-target="#roles" type="button"
                    role="tab" aria-controls="roles" aria-selected="false">Roles
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="writeups" role="tabpanel" aria-labelledby="writeups-tab">
            <div class="row">
                <div class="col-3" style="overflow-y: scroll; height: 400px;">
                    {#                    <p class="text-center">Select</p>#}
                    <ul class="list-group" id="lstWriteups">
                        {% for writeup in writeups %}
                            <a href="#" onclick="selectWriteup(this)" class="list-group-item list-group-item-action"
                               aria-current="true" id={{ loop.index - 1 }} difficulty={{ writeup.difficulty }}>
                                {% set file = writeup.file %}
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ writeup.name }}</h5>
                                    <small>{{ writeup.category }}</small>
                                </div>
                                <p class="mb-1">"{{ file[:50] }}..."</p>
                                {#                                <small>And some small print.</small>#}
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-6">
                    <div class="card card-default" id="crdWriteupPreview">
                        <div class="card-header">Preview</div>
                        <div class="card-text p-2" id="writeupPreview"></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row" style="position: fixed;">
                        <div class="col">
                            <div class="card card-default d-none" style="width: 300px;" id="crdGrader">
                                <div class="card-header">Grading</div>
                                <div class="card-text p-2" id="panGrader">
                                    <form>
                                        <div class="mb-3">
                                            <label for="selDifficulty" class="form-label">Difficulty</label>
                                            <select id="selDifficulty" class="form-select"
                                                    aria-label="Default select example">
                                                {% for difficulty, score in rankFacts["writeups"].items() %}
                                                    <option value="{{ score }}">{{ difficulty }}</option>
                                                {% endfor %}
                                            </select>
                                            <div id="authorDifficultyRating" class="form-text">
                                                Author rated this <a></a>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="selQuality" class="form-label">Quality</label>
                                            <select id="selQuality" class="form-select"
                                                    aria-label="Default select example">
                                                <option value="1">Basic</option>
                                                <option value="2">Good</option>
                                                <option value="3">Excellent</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="txtComments" class="form-label">Comments</label>
                                            <textarea name="comments" class="form-control" id="txtComments"
                                                      rows="3"></textarea>
                                        </div>
                                        <div class="row justify-content-center">
                                            <button type="submit" formtarget="_self" formmethod="post"
                                                    class="btn btn-primary w-25">
                                                Submit
                                            </button>
                                            <button type="submit" formtarget="_self" formmethod="post"
                                                    class="btn btn-warning w-25">
                                                Reject
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="tab-pane fade" id="competitions" role="tabpanel" aria-labelledby="competitions-tab">...</div>
    <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">...</div>
    </div>


    <script>
        writeupsObject = []
        {% for item in writeups %}
            writeupsObject.push({{ item | tojson | safe }})
        {% endfor %}

        writeupDifficulties = {{ rankFacts["writeups"] | tojson | safe }}

        function selectWriteup(elmnt) {
            //show grader
            document.getElementById("crdGrader").classList.remove("d-none")
            document.getElementById("crdWriteupPreview").classList.remove("d-none")
            // set author difficulty
            document.getElementById("authorDifficultyRating").children[0].innerHTML=
                Object.keys(writeupDifficulties)[writeupsObject[elmnt.id]["difficulty"]]

            //sanitize and render md
            marked.setOptions({sanitize: true});
            document.getElementById("writeupPreview").innerHTML = marked.parse(writeupsObject[elmnt.id]["file"]);

        }
    </script>

{% endblock %}