{% extends 'base.html' %}

{% block content %}
    {% for challenge in challenges %}

        <div class="p-3 mb-4 bg-light rounded-3 border">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{ challenge["name"] }} ({{ challenge["points"] }})</h1>
                <p class="col-md-8 fs-4">{{ challenge["prompt"] }}</p>
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#challengeAttemptModal"
                        type="button"
                        data-chalname="{{ challenge  ["name"] }}"
                        data-chalprototype="{{ challenge["prototype"] }}"
                        data-chaldesc="{{ challenge["prompt"] }}">Attempt
                </button>
            </div>
        </div>
    {% endfor %}



    {#    submission modal #}
    <div class="modal fade" id="challengeAttemptModal" tabindex="-1" role="dialog" aria-labelledby="Challenge Attempt"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="challengeAttemptTitle">Challenge Attempt</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="challengeInfo" class="alert alert-secondary" role="alert">
                        This is a secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a
                        click if you like.
                    </div>

                    <div class="form-group">
                        <label for="codeSubmitTextArea">Code here</label>
                        <textarea class="form-control" id="codeSubmitTextArea" rows="15"></textarea>
                    </div>
                    <div id="gradingLoaderCtr" class="d-none">
                        <div id="gradingLoader"></div>
                        <p class="mr-4">CHECKING</p></div>
                    <div id="gradingResultAlertSuccess" class="alert alert-success d-none" role="alert">
                    </div>
                    <div id="gradingResultAlertFailure" class="alert alert-danger d-none" role="alert">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitattempt">Full Send</button>
                </div>
            </div>
        </div>
    </div>




    {#  Finds modal and populates with jquery depending on button clicked  #}
    <script src="/static/challenges.js"></script>

{% endblock %}