<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Helios</title>
    <link href="/static/helios.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/jumbotron/">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


</head>
<div class="maincolumn container rounded mt-5 h-auto d-flex flex-column" >
<title>Login</title>
    {# this is specific enough to this page I don't really want to bother to put it in a separate js file#}
    <script>
        function showLogin() {
            document.getElementById("cardLoginPanel").className = "card visible h-auto w-75 align-self-center";
            document.getElementById("cardWarningBanner").className = "collapse";
        }
    </script>
    {#<div class="align-self-center w-50">#}

    <div class="card text-center h-auto w-50 align-self-center mt-4" id="cardWarningBanner">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title">Helios</h5>
            <p class="card-text"></p>
            <a href="{{ endpoint }}" class="btn btn-primary btnDiscord" id="btnLoginDiscord">Login with Discord</a>
        </div>
    </div>

</div>
</html>